*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5em;   /* pushes the text away from the top and the left just a little bit*/
font-family: sans-serif;
text-align: center;
}

nav{
    border: 2px solid #333;
    border-radius: 3rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background: papayawhip;
    border-radius: 3rem 3rem 0 0;           /* top left(2)  top right(2)  bottom right(0) bottom left(0) */
}

ul{
    /* list-style-position: inside; */
    list-style: none;
}

li{
    border-top: 1px solid #333;
}

li a{
    display: block;                   /* normally the anchor tag is an inline level element so we are changing it to blocklevel element */
}

li a,
li a:visited{
    text-decoration: none;
    color:#333;
}

li a:hover,
li a:focus {
    background: #333;
    color: purple;
}

li:last-child a {
    border-radius: 0 0 3rem 3rem;
}
